In [1]:
import pandas as pd
import datetime
import os
import numpy as np

In [2]:
PATH_ATT = '/home/gilfoyle/Aman_Workspace/Dataset'

In [3]:
df = pd.DataFrame(None, columns=['Date'])

In [4]:
df

Empty DataFrame
Columns: [Date]
Index: []

In [5]:
datetime.datetime.now().hour

18

In [6]:
print(str(datetime.datetime.now().hour) + ':' + str(datetime.datetime.now().minute))

18:35

In [6]:
for f in os.listdir(PATH_ATT):
    print(f)
    df[f] = ""

akhil
tunesh
gaurav
umar
sayyam
sameer
aman
tushar
vinayak
nidhi

In [8]:
df

Empty DataFrame
Columns: [Date, akhil, tunesh, gaurav, umar, sayyam, sameer, aman, tushar, vinayak, nidhi]
Index: []

In [9]:
df.reset_index()

Empty DataFrame
Columns: [index, Date, akhil, tunesh, gaurav, umar, sayyam, sameer, aman, tushar, vinayak, nidhi]
Index: []

In [10]:
df.to_csv('attendance.csv')

In [11]:
df.loc[0]

KeyError: 'the label [0] is not in the [index]'

In [12]:
df.iloc[0] = ['a', 1, 2 , 3, 4, 5, 6, 7, 8, 9, 10, 11]

IndexError: single positional indexer is out-of-bounds

In [15]:
np.ones((2,2))

array([[1., 1.],
       [1., 1.]])

In [26]:
df
df= pd.DataFrame(data=0*np.ones((365,len(df.columns))),columns=list(df.columns))
df.tail()#.columns = list(df.columns)

,Date,akhil,tunesh,gaurav,umar,sayyam,sameer,aman,tushar,vinayak,nidhi
360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
df2.iloc[0,df2.columns.get_loc('umar')]=34
df2.head()

,Date,akhil,tunesh,gaurav,umar,sayyam,sameer,aman,tushar,vinayak,nidhi
0,-1.0,34.0,-1.0,-1.0,34.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [29]:
df.tail(1).index.item()

11

In [11]:
print(df.last_valid_index())

None

In [12]:
df

Empty DataFrame
Columns: [Date, akhil, tunesh, gaurav, umar, sayyam, sameer, aman, tushar, vinayak, nidhi]
Index: []

In [11]:
df.loc[0] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [13]:
df

Empty DataFrame
Columns: [Date, akhil, tunesh, gaurav, umar, sayyam, sameer, aman, tushar, vinayak, nidhi]
Index: []

In [13]:
df.iloc[-1]['akhil'] = 'a'

IndexError: single positional indexer is out-of-bounds

In [14]:
df

Empty DataFrame
Columns: [Date, akhil, tunesh, gaurav, umar, sayyam, sameer, aman, tushar, vinayak, nidhi]
Index: []

In [29]:
datetime.datetime.now().day

30

In [16]:
df.append([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], axis=0)

TypeError: append() got an unexpected keyword argument 'axis'

In [28]:
mydate = datetime.datetime.now()
mydate.strftime("%B")

'October'